DATABASE_URL=
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM=claim.app <onboarding@resend.dev>
CRON_SECRET=
ADMIN_EMAIL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_xxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxx
STRIPE_PRICE_ID=price_xxxx
DRY_RUN=true
